@reference '../global.css';

[data-page='contact'] {
    .x-plane-bounds {
        @apply absolute overflow-clip z-10 pointer-events-none;
        inset: 0 100px;
        mask-image: linear-gradient(
            to right,
            transparent 0%,
            black 10%,
            black 90%,
            transparent 100%
        );
        filter: drop-shadow(30px 30px 26px rgba(0, 0, 0, 0.5));
    }

    .x-plane {
        @apply absolute grid place-items-center origin-center;
        width: 100px;
        height: 100px;
        font-size: 100px;
        line-height: 1;

        .x-fill {
            fill: var(--theme-primary-contrast);
        }

        .x-outline {
            fill: var(--theme-primary);
        }
    }

    .x-trail {
        mask-image: linear-gradient(
            to right,
            transparent 0%,
            black 20%,
            black 80%,
            transparent 100%
        );
    }

    .x-reason-heading {
        @apply self-stretch relative text-center overflow-clip;

        span {
            @apply block origin-[bottom_center];

            &::after {
                @apply text-transparent text-stroke-2 text-stroke-primary;
                content: attr(data-heading);
                position: absolute;
                inset: 0 0 auto 0;
                transform: scale(-1) translateY(-100%);
            }
        }
    }

    .x-five canvas {
        filter: drop-shadow(0 0 50px var(--color-primary));
    }
}
