@import 'tailwindcss';

@theme {
    --ease-in-out-expo: cubic-bezier(0.87, 0, 0.13, 1);
}

@theme inline {
    --font-sans: var(--font-stack-sans-text);

    --color-primary: var(--theme-primary);
    --color-primary-contrast: var(--theme-primary-contrast);
    --color-primary-translucent: oklab(from var(--theme-primary) l a b / 75%);
}

@layer utilities {
    .transition-colors-default {
        @apply transition-colors ease-in-out duration-500;
    }
}
